@import '_variables.scss';
@import '_mixins.scss';

section.about {
  background-image: linear-gradient(90deg, $colorOneDD 0%, $colorOneD 70%, $colorOne 100%), url(../assets/logoW.png);
  background-position: center, right;
  background-size: contain, contain;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;

  .aboutText {
    width: 70%;
    padding: 5rem;
    text-align: center;

    h2 {
      @include headingL(5);
      text-transform: uppercase;
    };
  
    p.description {
      padding-top: 3rem;
      @include textL(2);
      line-height: 3rem;
    };

    a.button {
      margin-top: 5rem;
    }
  }

  .imgContainer {
    margin-top: 4rem;
    width: 25vw;
    align-self: flex-end;

    img {
      display: block;
      width: 100%;
      filter: drop-shadow(-10px 0px 5px rgba(0,0,0,0.3));
    }
  }
}