@import "_variables.scss";
@import "_mixins.scss";

section.contact {
  padding: 7rem 0 7rem 0;
  align-items: center;
  transform-style: preserve-3d;
  position: relative;
  z-index: -100;
  overflow: hidden;
  background-color: $colorThree;

  &::before {
    content: "";
    background-image: url(../assets/contact.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 5%;
    opacity: 0.1;
    animation: pulse infinite 3.5s;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 60%;

      textarea {
        resize: none;
      }

      input,
      textarea {
        color: $colorTwo;
        background-color: transparent;
        border-top: none;
        border-right: none;
        border-left: 3px solid $colorTwo;
        border-bottom: 3px solid $colorTwo;
        outline: none;
        margin-top: 3rem;
        padding: 1rem;
        @include textOne(2);

        &::placeholder {
          @include textOne(2);
          text-transform: uppercase;
        }
      }

      .info {
        display: flex;
        justify-content: space-between;

        input {
          width: 47%;
        }
      }

      button {
        margin-top: 3rem;
        width: max-content;
        display: inline-block;
        text-align: center;
        align-self: center;
      }
    }

    h2 {
      @include headingBox(3);
    }

    .iconContainer {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 5rem;
      color: $colorTwo;

      .icon {
        margin-top: 5rem;
        display: flex;
        align-items: center;
      }

      p {
        @include textOne(2.5);
        display: inline;
        text-transform: uppercase;
        margin-left: 1.5rem;
      }
    }
  }
}

@media (max-width: 700px) {
  section.contact {
    .wrapper {
      form {
        width: 90%;
      }

      .iconContainer {
        flex-direction: column;

        & .left,
        .right {
          width: 100%;
        }

        .icon {
          margin-left: 20%;

          p {
            margin: 0 0 0 2rem;
          }
        }
      }

      &::before {
        width: 65%;
      }
    }
  }
}
