@import '_variables.scss';
@import '_mixins.scss';

section.contact {
  padding: 7rem 0 7rem 0;
  align-items: center;
  transform-style: preserve-3d;
  position: relative;
  z-index: -100;
  overflow: hidden;

  &::before{
    content: '☎';
    font-size: 30rem;
    position: absolute;
    right: -45rem;
    top: 35rem;
    z-index: -20;
    transform: translateZ(-1px) scale(2);
    opacity: .1;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      @include headingBox(3);
    }
  
    .iconContainer {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 5rem;
      color: $colorTwo;

      .icon {
        margin-top: 5rem;
        display: flex;
        align-items: center;
      }

      p {
        @include textOne(2.5);
        display: inline;
        text-transform: uppercase;
        margin-left: 1.5rem;
      }
    }
  }
}

@media (max-width: 700px) {
  section.contact {

    &::before {
      font-size: 50rem;
      right: -20rem;
      top: 65rem;
    }
    
    .iconContainer {
      flex-direction: column;

      .icon {
        flex-direction: column;

        p {
          margin-top: 2rem;
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  section.contact {
    overflow: visible;
  }
}