@import '_variables.scss';

@mixin headingL($size) {
  font-family: $fontOne;
  font-size: $size * 1rem;
  color: $colorTwo;
  font-weight: 700;
}

@mixin textL($size) {
  font-family: $fontTwo;
  font-size: $size * 1rem;
  color: $colorTwo;
  font-weight: 300;
}