@import '_variables.scss';
@import '_mixins.scss';

section.portfolio {
  background-color: $colorThree;
  padding: 7rem 0 5rem 0;
  position: relative;
  z-index: 100;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 5rem;
      @include headingBox(3);
      text-align: center;
    }

    .allProjects {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .singleProject {
        width: 40rem;
        margin: auto 2rem 6rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          @include textOne(3.5);
          font-weight: 400;
          margin-bottom: 2rem;
        }

        h4 {
          @include textOne(2.5);
          margin-bottom: 2rem;
        }

        p.projectDescription {
          @include textTwo(2.5);
          margin-bottom: 2rem;
          text-align: center;
        }
      }
    }
  }
}