@import '_variables.scss';
@import '_mixins.scss';

section.portfolio {
  background-color: $colorOneD;
  padding: 7rem 0 5rem 0;
  position: relative;
  z-index: 100;
  overflow: hidden;

  &::before{
    content: '';
    background-image: url(../assets/portfolio.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    right: 5%;
    width: 40%;
    height: 100%;
    opacity: .1;
    position: absolute;
    animation: pulse infinite 3.5s;
    transform-origin: top;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 5rem;
      @include headingBox(3);
      text-align: center;
    }

    .allProjects {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .singleProject {
        width: 55rem;
        margin: auto 2rem 6rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          @include textOne(3.5);
          font-weight: 400;
          margin-bottom: 2rem;
        }

        h4 {
          @include textOne(2.5);
          margin-bottom: 2rem;
        }

        .linkContainer {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
        }

        .portfolioImg {
          position: relative;
          height: auto;
          margin-top: 1rem;
          margin-bottom: 3rem;

          img {
            display: block;
            width: 100%;
          }

          p.projectDescription {
            top: 0%;
            left: 0%;
            right: 0%;
            bottom: 0%;
            padding: 23% 10%;
            position: absolute;
            @include textOne(2.5);
            text-align: center;
            opacity: 0;
            background-color: rgba($colorThree, $alpha: 0.8);
            transition: all 0.5s;
          }

          &:hover > p {
            opacity: 1;
          }
        }

      }
    }
  }
}

@media (max-width:700px) {
  section.portfolio {
    &::before {
      width: 65%;
      top: 50%;
    }

    .wrapper {
      .allProjects {
        .singleProject {
          width: 100%;
        }
      }
    }
  }
}