$colorOne: #b3b3b3;
$colorOneD: #5a5a5a;
$colorOneDD:#3b3b3b;
$colorTwo: #fff;
$colorThree: #385261;
$fontOne: 'Montserrat', sans-serif;
$fontTwo: 'Open Sans', sans-serif;
$fontThree: 'Lato', sans-serif;