$colorOne: #66a1af;
$colorTwo: #fff;
$colorOneD: #385961;
$colorOneDD:#24383d;
// $fontOne: 'Permanent Marker', cursive;
// $fontTwo: 'Caveat', cursive;
$fontOne: 'Montserrat', sans-serif;
$fontTwo: 'Open Sans', sans-serif;
$fontThree: 'Lato', sans-serif;