html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: calc(5px + (10 - 5) * (100vw - 320px) / (1600 - 320));
}

body {
  font-size: 1.6rem;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #5a5a5a;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

a {
  color: inherit;
  font-family: inherit;
}

a.top {
  padding: .3rem 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  color: #b3b3b3;
  position: absolute;
  z-index: 200;
  top: 1.5rem;
  right: 1.5rem;
  border-radius: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.top:hover, a.top:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

a.button {
  padding: 0.6rem 0 0.4rem 0;
  line-height: 2rem;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

a.button::before, a.button::after {
  content: '|';
  font-size: 5rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: relative;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  color: #fff;
  top: 0.4rem;
}

a.button p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

a.button::before {
  right: 1.7rem;
}

a.button::after {
  left: 1.7rem;
}

a.button:hover,
a.button:focus {
  background-color: #fff;
}

a.button:hover p,
a.button:focus p {
  color: #3b3b3b;
}

a.button:hover::before,
a.button:focus::before {
  right: .5rem;
}

a.button:hover::after,
a.button:focus::after {
  left: .5rem;
}

section {
  position: relative;
}

.fadeUp {
  opacity: 0;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fadeUp.faded {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

div.hamburger {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 200;
  display: none;
  padding: 2rem;
}

div.hamburger div {
  position: relative;
  width: 35px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-filter: drop-shadow(5px 5px 5px #3b3b3b);
          filter: drop-shadow(5px 5px 5px #3b3b3b);
}

div.hamburger div.hamburgerOne {
  top: 0px;
}

div.hamburger div.hamburgerOne.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

div.hamburger div.hamburgerTwo {
  top: 8px;
}

div.hamburger div.hamburgerTwo.active {
  opacity: 0;
}

div.hamburger div.hamburgerThree {
  top: 16px;
}

div.hamburger div.hamburgerThree.active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

nav.navTop {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.navTop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav.navTop ul li {
  font-family: "Montserrat", sans-serif;
  color: #b3b3b3;
  font-size: 5rem;
}

nav.navTop ul li a {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav.navTop ul li a i {
  margin-right: 15px;
}

nav.navTop ul li a p {
  font-size: 4rem;
  margin: 0;
  font-weight: 700;
}

nav.navTop.web {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 0;
}

nav.navTop.web ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50rem;
}

nav.navTop.web ul li a {
  border-radius: 15px 0px 0px 15px;
}

nav.navTop.web ul li a:hover > p,
nav.navTop.web ul li a:focus > p {
  display: inline;
}

nav.navTop.web ul li a:hover, nav.navTop.web ul li a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

nav.navTop.web ul li p {
  display: none;
}

nav.navTop.web ul li p, nav.navTop.web ul li i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav.navTop.mobile {
  display: none;
  left: -105%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav.navTop.mobile.active {
  left: 0;
}

nav.navTop.mobile ul {
  width: 65%;
  height: 100vh;
  background-color: #3b3b3b;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.navTop.mobile ul li {
  width: 100%;
}

nav.navTop.mobile ul li a {
  padding: 8rem 5rem 8rem 7rem;
  height: 100%;
}

nav.navTop.mobile ul li a:hover, nav.navTop.mobile ul li a:focus {
  background-color: #b3b3b3;
  color: #3b3b3b;
}

@media (max-width: 700px) {
  div.hamburger {
    display: block;
  }
  nav.navTop.web {
    display: none;
  }
  nav.navTop.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

section.hero {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

section.hero::before {
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0em;
  left: 0em;
  position: absolute;
  background-image: url("../assets/heroImage2.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -10;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}

section.hero .parallaxText {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  border: solid 1rem #fff;
  padding: 2rem 5rem;
  -webkit-filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5)) drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5)) drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.7));
}

section.hero .parallaxText div.name,
section.hero .parallaxText div.wang,
section.hero .parallaxText div.dong {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.hero .parallaxText div.name {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.hero .parallaxText div.name h3 {
  padding-bottom: 15px;
}

section.hero .parallaxText div.wang,
section.hero .parallaxText div.dong {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero .parallaxText h1, section.hero .parallaxText h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 10rem;
  color: #fff;
}

section.hero .parallaxText h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  margin-left: 5px;
  color: #fff;
}

section.hero .parallaxText div.wang h2 {
  margin-right: 5px;
}

@media (max-width: 700px) {
  section.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.hero .parallaxText {
    left: auto;
    padding: 2rem;
  }
}

section.about {
  padding-top: 7rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#202020), color-stop(50%, #3b3b3b), to(#5a5a5a));
  background-image: linear-gradient(90deg, #202020 0%, #3b3b3b 50%, #5a5a5a 100%);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.about .aboutText {
  margin-left: 7%;
  width: 70%;
  padding-bottom: 7rem;
}

section.about .aboutText h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2rem;
}

section.about .aboutText p.description {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  line-height: 3rem;
  margin-top: 6rem;
}

section.about .aboutText a.button {
  margin-top: 4rem;
}

section.about .imgContainer {
  margin-top: 2rem;
  margin-right: 0;
  width: 25vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section.about .imgContainer img {
  display: block;
  width: 100%;
  -webkit-filter: drop-shadow(-10px 0px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-10px 0px 5px rgba(0, 0, 0, 0.3));
}

@media (max-width: 800px) {
  section.about .aboutText {
    width: 100%;
    margin-right: 7%;
  }
  section.about .imgContainer {
    display: none;
  }
}

section.skills {
  background-color: #385261;
  overflow: hidden;
  width: 100%;
  padding: 7rem 0;
}

section.skills::before {
  content: '';
  background-image: url(../assets/skills.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 40%;
  height: 100%;
  position: absolute;
  left: 5%;
  opacity: .1;
  -webkit-animation: pulse infinite 3.5s;
          animation: pulse infinite 3.5s;
}

section.skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.skills .wrapper h2 {
  text-transform: uppercase;
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  padding: 2rem 5rem;
  border: solid 0.5rem #fff;
  letter-spacing: 2rem;
  margin-bottom: 3rem;
}

section.skills .wrapper .skillsGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.skills .wrapper .skillsGallery li {
  margin: 3rem;
  width: 20%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

section.skills .wrapper .skillsGallery li:hover, section.skills .wrapper .skillsGallery li:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 0px 1rem rgba(255, 255, 255, 0.3));
          filter: drop-shadow(0px 0px 1rem rgba(255, 255, 255, 0.3));
}

section.skills .wrapper .skillsGallery li i {
  font-size: 12rem;
  margin-bottom: 1rem;
}

section.skills .wrapper .skillsGallery li h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 700px) {
  section.skills::before {
    width: 65%;
  }
}

section.portfolio {
  background-color: #5a5a5a;
  padding: 7rem 0 5rem 0;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

section.portfolio::before {
  content: '';
  background-image: url(../assets/portfolio.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 20%;
  right: 5%;
  width: 40%;
  height: 100%;
  opacity: .1;
  position: absolute;
  -webkit-animation: pulse infinite 3.5s;
          animation: pulse infinite 3.5s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

section.portfolio .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.portfolio .wrapper h2 {
  margin-bottom: 5rem;
  text-transform: uppercase;
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  padding: 2rem 5rem;
  border: solid 0.5rem #fff;
  letter-spacing: 2rem;
  text-align: center;
}

section.portfolio .wrapper .allProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.portfolio .wrapper .allProjects .singleProject {
  width: 40rem;
  margin: auto 2rem 6rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.portfolio .wrapper .allProjects .singleProject h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5rem;
  color: #fff;
  font-weight: 300;
  font-weight: 400;
  margin-bottom: 2rem;
}

section.portfolio .wrapper .allProjects .singleProject h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 2rem;
}

section.portfolio .wrapper .allProjects .singleProject p.projectDescription {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 100;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 700px) {
  section.portfolio::before {
    width: 65%;
    top: 50%;
  }
}

section.contact {
  padding: 7rem 0 7rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  z-index: -100;
  overflow: hidden;
  background-color: #385261;
}

section.contact::before {
  content: '';
  background-image: url(../assets/contact.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 5%;
  opacity: .1;
  -webkit-animation: pulse infinite 3.5s;
          animation: pulse infinite 3.5s;
}

section.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .wrapper h2 {
  text-transform: uppercase;
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  padding: 2rem 5rem;
  border: solid 0.5rem #fff;
  letter-spacing: 2rem;
}

section.contact .wrapper .iconContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  color: #fff;
}

section.contact .wrapper .iconContainer .icon {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .wrapper .iconContainer p {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 300;
  display: inline;
  text-transform: uppercase;
  margin-left: 1.5rem;
}

@media (max-width: 700px) {
  section.contact .iconContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.contact .iconContainer .icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.contact .iconContainer .icon p {
    margin-top: 2rem;
  }
  section.contact::before {
    width: 65%;
  }
}

footer {
  position: relative;
  bottom: 0;
  background-color: #3b3b3b;
  padding: 3rem 0;
}

footer p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 300;
  font-weight: 400;
  text-transform: uppercase;
}
